<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ABIS.LogicBuilder.FlowBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  </startup>
  <appSettings>
    <!--<add key="TelerikWinFormsThemeName" value="Office2019Dark" />-->
  </appSettings>
  <userSettings>
    <ABIS.LogicBuilder.FlowBuilder.Properties.Settings>
      <setting name="themeName" serializeAs="String">
        <value>Office2019Dark</value>
      </setting>
    </ABIS.LogicBuilder.FlowBuilder.Properties.Settings>
  </userSettings>
</configuration>