<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ABIS.LogicBuilder.FlowBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  </startup>
  <appSettings>
    <!--<add key="TelerikWinFormsThemeName" value="Office2019Dark" />-->
  </appSettings>
  <userSettings>
    <ABIS.LogicBuilder.FlowBuilder.Properties.Settings>
      <setting name="themeName" serializeAs="String">
        <value>Office2019Dark</value>
      </setting>
      <setting name="findInAllDocuments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findTextMatchCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findTextMatchWholeWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textFindWhat" serializeAs="String">
        <value />
      </setting>
      <setting name="textReplaceWith" serializeAs="String">
        <value />
      </setting>
      <setting name="findConstructorMatchCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findConstructorMatchWholeWord" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="constructorFindWhat" serializeAs="String">
        <value />
      </setting>
      <setting name="constructorReplaceWith" serializeAs="String">
        <value />
      </setting>
      <setting name="findFunctionMatchCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findFunctionMatchWholeWord" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="functionFindWhat" serializeAs="String">
        <value />
      </setting>
      <setting name="functionReplaceWith" serializeAs="String">
        <value />
      </setting>
      <setting name="findVariableMatchCase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findVariableMatchWholeWord" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="variableFindWhat" serializeAs="String">
        <value />
      </setting>
      <setting name="variableReplaceWith" serializeAs="String">
        <value />
      </setting>
      <setting name="findCurrentPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="findCurrentRow" serializeAs="String">
        <value>True</value>
      </setting>
    </ABIS.LogicBuilder.FlowBuilder.Properties.Settings>
  </userSettings>
</configuration>